nav.titlebar {
	background: dodgerblue;
}
.titlebar-name {
	width:50%;
}
h1 {
	font-size:1.5rem;
}
h2 {
	margin-bottom: 1.5rem;
}
h3 {
	margin-bottom: 1.0rem;
}
table {
	width:100%;
}
table tr th.main {
	width:50%;
}
table tr th.small {
	width:25%;
}
nav.sidebar {
	background:#f6f6ff;
}
summary {
	display: inline-block;
	padding: 1rem 2rem 1.0625rem 2rem;
	font-size: 1rem;
	margin: 0 0 1.25rem;
	background-color: #008CBA;
	border-color: #007095;
	color: #f6f6ff;
}
.rating {
	display: inline;
	padding: 0 8px;
	margin: 0 16px 0 0;
}
